<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/'">Menu</a>
    <a mat-button [routerLink]="'/courses'">Courses</a>
    <a mat-button [routerLink]="'/login'">Login</a>
    <a mat-button [matMenuTriggerFor]="Menu">Yuv`i</a>
    <mat-menu #Menu="matMenu">
       <button mat-menu-item [routerLink]="'/orders'">Orders</button>  
       <button mat-menu-item [routerLink]="'/admin-courses'">Admin Courses</button>  
       <button mat-menu-item (click)='logout()'>Logout</button>  
    </mat-menu>
    <a mat-button [routerLink]="'/about'">About</a> 
    <a mat-button>0<i class="material-icons">add_shopping_cart</i></a>

  </mat-toolbar-row>
</mat-toolbar>
